@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/Layout_Admin/_Layout_Admin.cshtml";
    var liscolors = ViewBag.Colors as List<Color>;
    var categories = ViewBag.Categories as List<Category>;
    var brands = ViewBag.Brands as List<Brand>;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Add new product</h4>
                </div>
                <div class="card-body">
                    <form action="/Admin/AddProduct" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="mb-0"><b>Choose Categories</b></label>
                                <select name="category_id" class="form-select mb-2" required>
                                    <option selected>Choose Categories</option>
                                    @if (categories != null)
                                    {
                                        @foreach (var i in categories)
                                        {
                                            <option value="@i.CategoryId">@i.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="hidden" name="product_id">
                                <br>
                                <label class="mb-0"><b>Product Name</b></label>
                                <input type="text" id="full-name" required name="name" placeholder="Please enter product name" class="form-control mb-2 ">
                            </div>
                            <div class="col-md-12">
                                <label class="mb-0"><b>Choose Brand</b></label>
                                <select name="brand_id" class="form-select mb-2" required>
                                    <option selected>Choose Brand</option>
                                    @if (brands != null)
                                    {
                                        @foreach (var i in brands)
                                        {
                                            <option value="@i.BrandId">@i.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label class="mb-0"><b>Small Description</b></label>
                                <textarea type="text" required name="small_description" placeholder="Please enter small description product" class="form-control mb-2"></textarea>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label class="mb-0"><b>Description</b></label>
                                <textarea type="text" required name="description" placeholder="Please enter description product" class="form-control mb-2"></textarea>
                            </div>
                            <div class="col-md-12">
                                <label class="mb-0"><b>Choose Colors</b></label>
                                <select name="colors" class="form-select mb-2" multiple size="4" required>
                                    @if (liscolors != null)
                                    {
                                        @foreach (var i in liscolors)
                                        {
                                            <option value="@i.ColorId">@i.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <br>
                                <label class="mb-0"><b>Original Price</b></label>
                                <input type="text" required name="original_price" placeholder="Please enter original price" class="form-control mb-2">
                            </div>
                            <div class="col-md-6">
                                <br>
                                <label class="mb-0"><b>Selling Price</b></label>
                                <input type="text" required name="selling_price" placeholder="Please enter selling price" class="form-control mb-2">
                            </div>
                            <div class="col-md-12">
                                <br>
                                <label class="mb-0"><b>Image</b></label>
                                <input type="file" name="image" class="form-control mb-2" required>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <button type="submit" class="btn btn-primary" name="add_product_btn">ADD</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
