@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/Layout_Admin/_Layout_Admin.cshtml";
}
@model List<Category>
@if (TempData["DeleteCategorySuccess"] != null)
{
    <div id="delete-success-message" delete-success="@TempData["DeleteCategorySuccess"]"></div>
}
@if (TempData["DeleteCategoryFailed"] != null)
{
    <div id="delete-failed-message" delete-failed="@TempData["DeleteCategoryFailed"]"></div>
}
@if (TempData["UpdateCategorySuccess"] != null)
{
    <div id="update-success-message" update-success="@TempData["UpdateCategorySuccess"]"></div>
}
@if (TempData["UpdateCategoryFailed"] != null)
{
    <div id="update-failed-message" update-failed="@TempData["UpdateCategoryFailed"]"></div>
}
@if (TempData["AddCategorySuccess"] != null)
{
    <div id="add-success-message" add-success="@TempData["AddCategorySuccess"]"></div>
}
@if (TempData["AddCategoryFailed"] != null)
{
    <div id="add-failed-message" add-failed="@TempData["AddCategoryFailed"]"></div>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>ALL OF CATEGORIES</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var i in Model)
                            {
                                <tr>
                                <td>#@i.CategoryId</td>
                                <td>@i.Name</td>
                                <td>@i.Description</td>
                                <td>
                                        <a href="/Admin/EditCategory?categoryId=@i.CategoryId" class="btn btn-primary">Edit</a>
                                </td>
                                <td>
                                        <form action="/Admin/DeleteCategory?categoryId=@i.CategoryId" method="POST">
                                        <input type="hidden" name="category_id">
                                        <button type="submit" name="delete_category_btn" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (e) {
        var deleteSuccessMessage = document.getElementById("delete-success-message");
        var deleteFailedMessage = document.getElementById("delete-failed-message");
        var updateSuccessMessage = document.getElementById("update-success-message");
        var updateFailedMessage = document.getElementById("update-failed-message");
        var addSuccessMessage = document.getElementById("add-success-message");
        var addFailedMessage = document.getElementById("add-failed-message");

        if (deleteSuccessMessage) {
            var message = deleteSuccessMessage.getAttribute("delete-success");
            alertify.set('notifier', 'position', 'top-right');
            alertify.success(message);
            e.preventDefault();
        }
        if (deleteFailedMessage) {
            var message = deleteFailedMessage.getAttribute("delete-failed");
            alertify.set('notifier', 'position', 'top-right');
            alertify.error(message);
            e.preventDefault();
        }
        if (updateSuccessMessage) {
            var message = updateSuccessMessage.getAttribute("update-success");
            alertify.set('notifier', 'position', 'top-right');
            alertify.success(message);
            e.preventDefault();
        }

        if (updateFailedMessage) {
            var message = updateFailedMessage.getAttribute("update-failed");
            alertify.set('notifier', 'position', 'top-right');
            alertify.error(message);
            e.preventDefault();
        }
        if (addSuccessMessage) {
            var message = addSuccessMessage.getAttribute("add-success");
            alertify.set('notifier', 'position', 'top-right');
            alertify.success(message);
            e.preventDefault();
        }

        if (addFailedMessage) {
            var message = addFailedMessage.getAttribute("add-failed");
            alertify.set('notifier', 'position', 'top-right');
            alertify.error(message);
            e.preventDefault();
        }
    });
</script>