@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/Layout_Admin/_Layout_Admin.cshtml";
}
@model List<Color>
@if (TempData["DeleteColorSuccess"] != null)
{
    <div id="delete-success-message" delete-success="@TempData["DeleteColorSuccess"]"></div>
}
@if (TempData["DeleteColorFailed"] != null)
{
    <div id="delete-failed-message" delete-failed="@TempData["DeleteColorFailed"]"></div>
}
@if (TempData["UpdateColorSuccess"] != null)
{
    <div id="update-success-message" update-success="@TempData["UpdateColorSuccess"]"></div>
}
@if (TempData["UpdateColorFailed"] != null)
{
    <div id="update-failed-message" update-failed="@TempData["UpdateColorFailed"]"></div>
}
@if (TempData["AddColorSuccess"] != null)
{
    <div id="add-success-message" add-success="@TempData["AddColorSuccess"]"></div>
}
@if (TempData["AddColorFailed"] != null)
{
    <div id="add-failed-message" add-failed="@TempData["AddColorFailed"]"></div>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>ALL OF COLORS</h4>
                </div>
                <div class="card-body" style="text-align:center;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td>#@i.ColorId</td>
                                    <td>@i.Name</td>
                                    <td>
                                        <a href="/Admin/EditColor?ColorId=@i.ColorId" class="btn btn-primary">Edit</a>
                                    </td>
                                    <td>
                                        <form action="/Admin/DeleteColor?ColorId=@i.ColorId" method="POST">
                                            <input type="hidden" name="brand_id">
                                            <button type="submit" name="delete_category_btn" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (e) {
        var deleteSuccessMessage = document.getElementById("delete-success-message").getAttribute("delete-success");
        var deleteFailedMessage = document.getElementById("delete-failed-message").getAttribute("delete-failed");
        var updateSuccessMessage = document.getElementById("update-success-message").getAttribute("update-success");
        var updateFailedMessage = document.getElementById("update-failed-message").getAttribute("update-failed");
        var addSuccessMessage = document.getElementById("add-success-message").getAttribute("add-success");
        var addFailedMessage = document.getElementById("add-failed-message").getAttribute("add-failed");

        if (deleteSuccessMessage) {
            alertify.set('notifier', 'position', 'top-right');
            alertify.success(deleteSuccessMessage);
            e.preventDefault();
        }
        if (deleteFailedMessage) {
            alertify.set('notifier', 'position', 'top-right');
            alertify.error(deleteFailedMessage);
            e.preventDefault();
        }
        if (updateSuccessMessage) {
            alertify.set('notifier', 'position', 'top-right');
            alertify.success(updateSuccessMessage);
            e.preventDefault();
        }

        if (updateFailedMessage) {
            alertify.set('notifier', 'position', 'top-right');
            alertify.error(updateFailedMessage);
            e.preventDefault();
        }
        if (addSuccessMessage) {
            alertify.set('notifier', 'position', 'top-right');
            alertify.success(addSuccessMessage);
            e.preventDefault();
        }

        if (addFailedMessage) {
            alertify.set('notifier', 'position', 'top-right');
            alertify.error(addFailedMessage);
            e.preventDefault();
        }
    });
</script>