@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/Layout_Admin/_Layout_Admin.cshtml";
}
@model List<Product>
@if (TempData["DeleteProductSuccess"] != null)
{
    <div id="delete-success-message" delete-success="@TempData["DeleteProductSuccess"]"></div>
}
@if (TempData["DeleteProductFailed"] != null)
{
    <div id="delete-failed-message" delete-failed="@TempData["DeleteProductFailed"]"></div>
}
@if (TempData["UpdateProductSuccess"] != null)
{
    <div id="update-success-message" update-success="@TempData["UpdateProductSuccess"]"></div>
}
@if (TempData["UpdateProductFailed"] != null)
{
    <div id="update-failed-message" update-failed="@TempData["UpdateProductFailed"]"></div>
}
@if (TempData["AddProductSuccess"] != null)
{
    <div id="add-success-message" add-success="@TempData["AddProductSuccess"]"></div>
}
@if (TempData["AddProductFailed"] != null)
{
    <div id="add-failed-message" add-failed="@TempData["AddProductFailed"]"></div>
}
@if (Model != null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>ALL OF PRODUCTS</h4>
                    </div>
                    <div class="card-body" style="text-align:center;">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>DisPrice</th>
                                    <th>CurPrice</th>
                                    <th>Brand</th>
                                    <th>Category</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model)
                                {
                                    <tr>
                                        <td>#@i.ProductId</td>
                                        <td>@i.Name</td>
                                        <td>
                                            <img src="../templates/img/imgProduct/@i.ImageUrl" width="50px" height="50px" alt="@i.Name">
                                        <td>@i.DisPrice</td>
                                        <td>@i.CurPrice</td>
                                        <td>@i.Brand.Name</td>
                                        <td>@i.Category.Name</td>
                                        <td>
                                            <a href="/Admin/EditProduct?ProductId=@i.ProductId" class="btn btn-primary">Edit</a>
                                        </td>
                                        <td>
                                            <form action="/Admin/DeleteProduct?ProductId=@i.ProductId" method="POST">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function (e) {
            var deleteSuccessMessage = document.getElementById("delete-success-message");
            var deleteFailedMessage = document.getElementById("delete-failed-message");
            var updateSuccessMessage = document.getElementById("update-success-message");
            var updateFailedMessage = document.getElementById("update-failed-message");
            var addSuccessMessage = document.getElementById("add-success-message");
            var addFailedMessage = document.getElementById("add-failed-message");

            if (deleteSuccessMessage) {
                var message = deleteSuccessMessage.getAttribute("delete-success");
                alertify.set('notifier', 'position', 'top-right');
                alertify.success(message);
                e.preventDefault();
            }
            if (deleteFailedMessage) {
                var message = deleteFailedMessage.getAttribute("delete-failed");
                alertify.set('notifier', 'position', 'top-right');
                alertify.error(message);
                e.preventDefault();
            }
            if (updateSuccessMessage) {
                var message = updateSuccessMessage.getAttribute("update-success");
                alertify.set('notifier', 'position', 'top-right');
                alertify.success(message);
                e.preventDefault();
            }

            if (updateFailedMessage) {
                var message = updateFailedMessage.getAttribute("update-failed");
                alertify.set('notifier', 'position', 'top-right');
                alertify.error(message);
                e.preventDefault();
            }
            if (addSuccessMessage) {
                var message = addSuccessMessage.getAttribute("add-success");
                alertify.set('notifier', 'position', 'top-right');
                alertify.success(message);
                e.preventDefault();
            }

            if (addFailedMessage) {
                var message = addFailedMessage.getAttribute("add-failed");
                alertify.set('notifier', 'position', 'top-right');
                alertify.error(message);
                e.preventDefault();
            }
        });
    </script>
}
else
{
    <h1>Not found</h1>
}