@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/Layout_Admin/_Layout_Admin.cshtml";
}
@model List<Order>?
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">MANAGERMENT ORDERS</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <a href="/Admin/AllOrders" style="margin-left: 20px"><span class="badge badge-sm bg-gradient-secondary">All</span></a>
                        <a href="/Admin/GetOrderbyStatus?status=Ordered" style="margin-left: 20px"><span class="badge badge-sm bg-gradient-primary">Ordered</span></a>
                        <a href="/Admin/GetOrderbyStatus?status=Delivering" style="margin-left: 20px"><span class='badge badge-sm bg-gradient-info'>Delivering</span></a>
                        <a href="/Admin/GetOrderbyStatus?status=Success" style="margin-left: 20px"><span class="badge badge-sm bg-gradient-success">Success</span></a>

                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">ID</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Customer</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Username</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Address</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date Order</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">#@item.OrderId</p>
                                            </td>
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">@item.User.FullName</h6>
                                                        <p class="text-xs text-secondary mb-0">@item.User.Email</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">@item.User.UserName</p>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">
                                                    <a href="/Admin/GetListOrderDetail?OrderId=@item.OrderId">See Now</a>
                                                </p>
                                                <p class="text-xs text-secondary mb-0">Quantity: @item.Products.Count()</p>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">@item.User.Address</p>
                                                <p class="text-xs text-secondary mb-0">@item.User.PhoneNumber</p>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                @if (item.Status == "Ordered")
                                                {
                                                    <span class="badge badge-sm bg-gradient-primary">Ordered</span>
                                                }
                                                else if (item.Status == "Delivering")
                                                {
                                                    <span class="badge badge-sm bg-gradient-info">Delivering</span>
                                                }
                                                else if (item.Status == "Success")
                                                {
                                                    <span class="badge badge-sm bg-gradient-success">Success</span>
                                                }
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">
                                                    @Convert.ToDateTime(@item.CreateAt).ToString("dd/MM/yyyy")
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>