@{
    var scriptName = Context.Request.Path.ToString();
    var lastSegment = scriptName.Substring(scriptName.LastIndexOf("/") + 1);
    var page = lastSegment;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - ELECTRIC STORE</title>
    <!-- Fonts and icons -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link href="../templates/admin/assets/css/material-dashboard.min.css" rel="stylesheet" />
    <link href="../templates/admin/assets/css/form.css" rel="stylesheet">
    @* <link rel="shortcut icon" type="image/icon" href="~/logof/favicon.ico" /> *@
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Alertify JS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />
</head>
<body class="g-sidenav-show  bg-gray-200">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="/Home/Index" target="_blank">
                <span class="ms-1 font-weight-bold text-white">MANAGER ELECTRIC STORE</span>
            </a>
        </div>
        <hr class="horizontal light mt-0 mb-2">
        <div class="collapse navbar-collapse  w-auto" id="sidenav-collapse-main" style="height: 75vh">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white @(page == "Index" ? "active bg-gradient-primary" : "")" href="/Admin/Index">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">dashboard</i>
                        </div>
                        <span class="nav-link-text ms-1">MANAGERMENTS</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white @(page == "AllUser" ? "active bg-gradient-primary" : "")" href="/Admin/AllUser">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <span class="nav-link-text ms-1">MANAGERMENT USERS</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white @(page == "AllOrders" ? "active bg-gradient-primary" : "")" href="/Admin/AllOrders">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">weekend</i>
                        </div>
                        <span class="nav-link-text ms-1">MANAGERMENT ORDERS</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white @(page == "AllCategories" ? "active bg-gradient-primary" : "")" href="/Admin/AllCategories">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">table_view</i>
                        </div>
                        <span class="nav-link-text ms-1">ALL OF CATEGORIES</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white @(page == "AddCategory" ? "active bg-gradient-primary" : "")" href="/Admin/AddCategory">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">add_to_photos</i>
                        </div>
                        <span class="nav-link-text ms-1">ADD NEW CATEGORY</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white @(page == "AllBrands" ? "active bg-gradient-primary" : "")" href="/Admin/AllBrands">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">apps</i>
                        </div>
                        <span class="nav-link-text ms-1">ALL OF BRANDS</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white @(page == "AddBrand" ? "active bg-gradient-primary" : "")" href="/Admin/AddBrand">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">add_to_photos</i>
                        </div>
                        <span class="nav-link-text ms-1">ADD NEW BRAND</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white @(page == "AllColors" ? "active bg-gradient-primary" : "")" href="/Admin/AllColors">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">color_lens</i>
                        </div>
                        <span class="nav-link-text ms-1">ALL OF COLORS</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white @(page == "AddColor" ? "active bg-gradient-primary" : "")" href="/Admin/AddColor">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">add_to_photos</i>
                        </div>
                        <span class="nav-link-text ms-1">ADD NEW COLOR</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white @(page == "AllProducts" ? "active bg-gradient-primary" : "")" href="/Admin/AllProducts">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">view_list</i>
                        </div>
                        <span class="nav-link-text ms-1">ALL OF PRODUCTS</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white @(page == "AddProduct" ? "active bg-gradient-primary" : "")" href="/Admin/AddProduct">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">add_to_photos</i>
                        </div>
                        <span class="nav-link-text ms-1">ADD NEW PRODUCT</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidenav-footer position-absolute w-100 bottom-0 ">
            <div class="mx-3">
                <a class="btn bg-gradient-primary mt-4 w-100" href="/Account/Logout" type="button">LOGOUT</a>
            </div>
        </div>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;"><p><b>MANAGERMENTS</b></p></a></li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">
                            @if (page == "Index")
                            {
                                <text> </text>
                            }
                            else if (page == "AllCategories")
                            {
                                <text>ALL OF CATEGORIES</text>
                            }
                            else if (page == "AddCategory")
                            {
                                <text>ADD NEW CATEGORY</text>
                            }
                            else if (page == "AllProducts")
                            {
                                <text>ALL OF PRODUCTS</text>
                            }
                            else if (page == "AddProduct")
                            {
                                <text>ADD NEW PRODUCT</text>
                            }
                            else if (page == "AllUser")
                            {
                                <text>MANAGERMENT USERS ACCOUNT</text>
                            }
                            else if (page == "AllOrders")
                            {
                                <text>MANAGERMENT ORDERS</text>
                            }
                            else if (page == "OrderDetail")
                            {
                                <text>MANAGERMENT ORDERS/ ORDER-DETAIL</text>
                            }
                            else if (page == "AddBrand")
                            {
                                <text>ADD NEW BRAND</text>
                            }
                            else if (page == "AllBrands")
                            {
                                <text>ALL OF BRANDS</text>
                            }
                            else if (page == "AddColor")
                            {
                                <text>ADD NEW COLOR</text>
                            }
                            else if (page == "AllColors")
                            {
                                <text>ALL OF COLORS</text>
                            }
                        </li>
                    </ol>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid py-4">
            <div class="row  h-100">
                <div class="col-12">
                </div>
            </div>
    @RenderBody()
            <script src="../templates/admin/assets/js/jquery-3.6.0.min.js"></script>
            <script src="../templates/admin/assets/js/bootstrap.bundle.min.js"></script>
            <script src="../templates/admin/assets/js/perfect-scrollbar.min.js"></script>
            <script src="../templates/admin/assets/js/smooth-scrollbar.min.js"></script>
    <!-- Alertify JS -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
            <script type="text/javascript" src="../templates/admin/assets/js/StringConvertToSlug.js"></script>
    </div>
    </main>
</body>
</html>
