@{
    ViewData["Title"] = "Information";
    Layout = "~/Views/Shared/Layout_Index/_Layout_Index.cshtml";
}
@model User
@if (TempData["UpdateSuccess"] != null)
{
    <div id="information-account" update-success="@TempData["UpdateSuccess"]"></div>
}
@if (TempData["ChangePasswordSuccess"] != null)
{
    <div id="change-password-success" data-success="@TempData["ChangePasswordSuccess"]"></div>
}
@if (TempData["ChangePasswordFailed"] != null)
{
    <div id="change-password-failed" data-failed="@TempData["ChangePasswordFailed"]"></div>
}
@if (TempData["PasswordNotSameCpassword"] != null)
{
    <div id="notsame-password" data-notsame="@TempData["PasswordNotSameCpassword"]"></div>
}
<h2 style="text-align:center; padding:40px">INFORMATION USER</h2>
<div class="container" style="display: flex;justify-content: space-evenly;flex-wrap: nowrap;flex-direction: row;align-content: stretch;align-items: stretch;">
    <div class="content">
        <form action="/Account/EditInformation" method="post">
            <input type="hidden" name="userid" value="@Model.UserId">
            <div>
                <table class="table table-light table-borderless">    
                    <tr>
                        <th>Full Name</th>
                        <td>
                            <div class="input-box">
                                <input type="text" name="fullname" required value="@Model.FullName">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>User Name</th>
                        <td>
                            <div class="input-box">
                                <input type="text" name="username" required value="@Model.UserName">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>
                            <div class="input-box">
                                <input type="email" name="email" required value="@Model.Email">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>
                            <div class="input-box">
                                <input type="text" name="phone" required value="@Model.PhoneNumber">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>
                            <div class="input-box">
                                <input type="text" name="address" required value="@Model.Address">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>
                            <select name="gender" style="height: 30px;width:100%;outline: none;font-size: 16px;border-radius: 5px;border: 1px solid #ccc;border-bottom-width: 2px;" required>
                                @if (Model.Gender.Equals("male"))
                                {
                                    <option selected value="male">Nam</option>
                                    <option value="female">Nữ</option>
                                }
                                else
                                {
                                    <option value="male">Nam</option>
                                    <option selected value="female">Nữ</option>
                                }
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="button" style="text-align: center;">
                <input type="submit" value="Update" style="padding: 10px 20px; background-color: burlywood; border: none;">
            </div>

        </form>
    </div>
    <div class="content">
        <form action="/Account/ChangePassword" method="post" >
            <input type="hidden" name="userid" value="@Model.UserId">
            <div>
                <table class="table table-light table-borderless">
                    <tr>
                        <th>Current Password</th>
                        <td>
                            <div class="input-box">
                                <input type="password" name="currentPassword" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>New Password</th>
                        <td>
                            <div class="input-box">
                                <input type="password" name="newPassword" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Confirm New Password</th>
                        <td>
                            <div class="input-box">
                                <input type="password" name="confirmNewPassword" required>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="button" style="text-align: center;">
                <input type="submit" value="Change Password" style="padding: 10px 20px; background-color: burlywood; border: none;">
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(e) {
        var changePasssucess = document.getElementById("change-password-success");
        var changePassFailed = document.getElementById("change-password-failed");
        var PasswordNotSame = document.getElementById("notsame-password");
        var updateAccountForm = document.getElementById("information-account");
        if (changePasssucess) {
            var changeSuccess = changePasssucess.getAttribute("data-success");
            alertify.set('notifier', 'position', 'top-right');
            alertify.success(changeSuccess);
            e.preventDefault();
        }
        if (changePassFailed) {
            var changeFailed = changePassFailed.getAttribute("data-failed");
            alertify.set('notifier', 'position', 'top-right');
            alertify.error(changeFailed);
            e.preventDefault();
        }
        if (PasswordNotSame) {
            var NotSame = PasswordNotSame.getAttribute("data-notsame");
            alertify.set('notifier', 'position', 'top-right');
            alertify.error(NotSame);
            e.preventDefault();
        }
        if (updateAccountForm) {
            var updatesuccess = updateAccountForm.getAttribute("update-success");
            if (updatesuccess != "") {
                alertify.set('notifier', 'position', 'top-right');
                alertify.success(updatesuccess);
                e.preventDefault();
            }
        }
    });
</script>

