@{
    ViewData["Title"] = "List Product";
    Layout = "~/Views/Shared/Layout_Index/_Layout_Index.cshtml";
    var listcolor = ViewBag.listcolor as List<Color>;
    var listallpro = ViewBag.listAllproduct as List<Product>;
    var reviews = ViewBag.AllReviews as List<Review>;
    int totalReviewRating = ViewBag.totalReviewRating;
    double totalProductRating = ViewBag.totalProductRating;
}
@model Product
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/Home/Index">Home</a>
                <span class="breadcrumb-item active">Product Detail</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
@if (Model != null)
{
    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="../templates/img/imgProduct/@Model.ImageUrl" alt="Image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h2>@Model.Name</h2>
                    <div class="d-flex mb-3">
                      @if (totalProductRating > 0)
                        {
                            <div class="text-primary mr-2">
                                @{
                                    int numFullStars = (int)totalProductRating; // Số ngôi sao hoàn toàn đầy
                                    int numHalfStar = (totalProductRating - numFullStars) >= 0.5 ? 1 : 0; // Số ngôi sao nửa
                                    int numEmptyStars = 5 - numFullStars - numHalfStar; // Số ngôi sao rỗng
                                }

                                @for (int i = 1; i <= numFullStars; i++)
                                {
                                    <i class="fas fa-star text-warning" value="@i"></i>
                                }

                                @if (numHalfStar == 1)
                                {
                                    <i class="fas fa-star-half-alt text-warning" value="@numFullStars + 1"></i>
                                }

                                @for (int i = numFullStars + numHalfStar + 1; i <= 5; i++)
                                {
                                    <i class="far fa-star" value="@i"></i>
                                }
                            </div>
                        }
                        else if (totalProductRating == 0)
                        {
                            <div class="text-primary mr-2">
                                <i class="far fa-star" value="1"></i>
                                <i class="far fa-star" value="2"></i>
                                <i class="far fa-star" value="3"></i>
                                <i class="far fa-star" value="4"></i>
                                <i class="far fa-star" value="5"></i>
                            </div>
                        }
                         <small class="pt-1">(@totalReviewRating Reviews)</small>
                    </div>
                    <h3 class="font-weight-semi-bold mb-4">$@Model.CurPrice</h3>
                    <p class="mb-4">
                        @Model.SmallDescription
                    </p>
                    <div class="d-flex mb-3">
                        <strong class="text-dark mr-3">Brand:</strong>
                            <div class="custom-control custom-radio custom-control-inline">
                                  <label>@Model.Brand.Name</label>
                            </div>
                    </div>
                    <div class="d-flex mb-4">
                        <strong class="text-dark mr-3">Colors:</strong>
                            @if (listcolor != null)
                            {
                                var index = 1;
                                @foreach (var j in listcolor)
                                {
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="color-@index" name="color" value="@j.Name" @(index == 1 ? "checked" : "")>
                                        <label class="custom-control-label" for="color-@index">@j.Name</label>
                                    </div>
                                    index++;
                                }
                            }
                    </div>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button id="btnMinus" class="btn btn-primary btn-minus">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" id="quantityInput" class="form-control bg-secondary border-0 text-center" value="1" >
                            <div class="input-group-btn">
                                <button id="btnPlus" class="btn btn-primary btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary px-3" id="addToCartButton">
                            <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-1">Information</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Reviews(@totalReviewRating)</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="tab-pane-1">
                            <h4 class="mb-3">Product Information</h4>
                            <p>@Model.Description</p>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-4">@totalReviewRating review for "@Model.Name"</h4>
                                    @if (reviews != null)
                                    {
                                        @foreach (var review in reviews)
                                        {
                                            <div class="media mb-4">
                                                <img src="../templates/img/img_user.png" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                                <div class="media-body">
                                                    <h6>@review.User.FullName<small> - <i>@Convert.ToDateTime(review.Create_at).ToString("HH:mm dd/MM/yyyy")</i></small></h6>
                                                    <div class="text-primary mb-2">
                                                        @for (int i = 1; i <= 5; i++)
                                                        {
                                                            <i class="far fa-star @(i <= review.Rating ? "fas text-warning" : "")" value="@i"></i>
                                                        }
                                                    </div>
                                                    <p>@review.Comment</p>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="media mb-4">
                                            <p>No Review Here</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
    <!-- js get quantity input-->
    <script>
        const addToCartButton = document.getElementById("addToCartButton");
        const radioButtons = document.querySelectorAll('input[name="color"]');
        const quantityInput = document.getElementById("quantityInput");

        // Hàm cập nhật đường dẫn href của button
        function updateHref() {
            // Tìm radio button đang được chọn
            const selectedRadioButton = [...radioButtons].find(radio => radio.checked);
            const colorSelected = selectedRadioButton ? selectedRadioButton.value : radioButtons[0].value;
            const newQuantity = parseInt(quantityInput.value, 10);
            addToCartButton.setAttribute("href", `/Cart/addToCart?ProductId=@Model.ProductId&Quantity=${newQuantity}&Color=${colorSelected}`);
        }
        
        // Lắng nghe sự kiện khi thay đổi số lượng
        quantityInput.addEventListener('input', function(){
            updateHref();
        });

        // Lắng nghe sự kiện khi nút radio thay đổi
        radioButtons.forEach(radioButton => {
            radioButton.addEventListener('change', updateHref);
        });
        // Lắng nghe sự kiện khi nhấn vào button
        addToCartButton.addEventListener('click', function (event) {
            // Ngăn chặn hành vi mặc định của nút "Add To Cart"
            event.preventDefault();

            // Lấy giá trị href sau khi đã cập nhật
            const updatedHref = addToCartButton.getAttribute("href");

            // Điều hướng tới trang cart
            window.location.href = updatedHref;
        });

        // Ban đầu, cập nhật đường dẫn href cho button
        updateHref();
    </script>


}
<!-- Products Start -->
<div class="container-fluid py-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">You May Also Like</span></h2>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                @if(listallpro != null)
                {
                    @foreach (var i in listallpro)
                    {
                        <div class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="../templates/img/imgProduct/@i.ImageUrl" alt="Image">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="/Cart/Index"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="/Product/ProductDetail?ProductId=@i.ProductId"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">@i.Name</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>$@i.CurPrice</h5><h6 class="text-muted ml-2"><del>$@i.DisPrice</del></h6>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- Products End -->